/*DOCUMENTO CSS*/

body { background: rgb(119, 193, 248);}

h1 { color: rgb(255, 255, 255);} 
h2 { color: rgb(162, 42, 42);}
h3 {color: rgb(41, 187, 126);}
h4 {color: rgb(191, 88, 103);}
h5 {color: rgb(255, 255, 255);}
h5 {color: rgb(255, 255, 255);}
h6 {color: rgb(250, 249, 249);}

p {color: white;}