/*DOCUMENTO CSS*/
 * { margin: 0;
    padding: 0%; }

    body { background-color: rgb(235, 15, 165);

h1 { background-color: rgb(0, 0, 0); 
    padding: 16px 0px;
    text-align: center;
    color: whitesmoke;} 

.tablas { width: 50% ;
         margin: 24px auto 24px auto; background-color: rgb(107, 48, 48);
        text-align:center;}


        .table { width: 50%;
        margin: 24px auto 24px auto; background-color: whitesmoke }