/*DOCUMENTO CSS*/
* { padding: 0;
    margin: 0;}

body { background-color: rgb(4, 80, 15); }

h1 { text-align: center;
    padding: 16px 0px;
    text-transform: uppercase;
    font-size: 3em;
    line-height: 140%;
    color: rgb(255, 255, 255);
    text text-shadow: 1px 0px 0px 2px;}


    .audio {min-height: 1px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 5% 0%;}

 #videos{ background-color: rgba(152, 17, 17, 0.529); 
         width: 80;
         min-height: 600px;
        margin: 20px;
        display: flex;padding: 32px 16px 64px 16px; 
        text-align: center;}

 #videos div { width: 70%;}

#videos video,#videos iframe { width: 100;
                             height: 300px;
                            text-align: center;}    

pie { background-color: black;
    min-height: 1px;
    margin-top: 80px; 
    padding: 16px 0px;}

.pie p { color: whitesmoke; 
        text-align: center;}
    


h2 {padding:  16px 0px;}