/*DOCUMENTO CSS*/

body { background-image: url(https://w0.peakpx.com/wallpaper/509/40/HD-wallpaper-emo-jpg-skull-pink-wild.jpg);}

h1 { font-size: 50px;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 20px;}

main {background-color: whitesmoke;
    line-height: 150%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 20px;
}